.container {
  container-type: inline-size;
}
.input {
  appearance: none;
  -webkit-appearance: none;

  width: 0px;
  height: 0px;
  position: fixed;
  opacity: 0;
}

.label {
  cursor: pointer;
  background-color: var(--color-white);
  border: 0.0625rem solid var(--color-border-color);
  border-radius: 0.5rem;

  padding: 1rem 1.25rem 1rem 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas: 'icon' 'name' 'price' 'description';

  transition: all 0.2s var(--transition-1);
}
.input:checked + .label {
  border-color: var(--color-purple);
}
.input:focus-visible + .label {
  outline: auto;
}
.label:hover {
  border-color: var(--color-purple);
}
.icon {
  grid-area: icon;
}
.name {
  margin-top: 2.4375rem;
  grid-area: name;

  font-size: 1rem;
  line-height: 1.125rem;
  font-weight: 500;
  color: var(--color-denim);
}
.price {
  margin-top: 0.4375rem;
  grid-area: price;

  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: var(--color-grey);
}
.description {
  margin-top: 0.375rem;
  grid-area: description;

  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: var(--color-denim);
}

@container (min-width: 180px) {
  /* If container has minimum width of 180px we will display content inside horizontaly */
  .label {
    padding: 1rem 1rem 1rem 1.25rem;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 'icon name' 'icon price' '_ description';
    place-items: start start;
  }
  .icon {
    margin-right: 0.875rem;
  }
  .name {
    margin-top: unset;
  }
  .price {
    margin-top: 0.4375rem;
  }
  .description {
    margin-top: 0.1875rem;
  }
}
