.container {
  width: 100%;
}
.label {
  cursor: pointer;
  user-select: none;

  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto;
  grid-template-areas: 'input heading price' 'input description price';
  place-items: center start;

  padding: 0.625rem 0.9375rem;

  border-radius: 0.5rem;
  background-color: var(--color-white);
  border: 0.0625rem solid var(--color-grey);
  transition: all 0.2s var(--transition-1);
}

@media (hover: hover) and (pointer: fine) {
  .label:hover {
    border-color: var(--color-purple);
  }
}
.label:has(.input:focus-visible) {
  outline: auto;
}
.container__active .label {
  background-color: var(--color-very-light-grey);
  border-color: var(--color-purple);
}
.input {
  position: fixed;
  pointer-events: none;
  opacity: 0;
}
.check {
  grid-area: input;
  margin-right: 1rem;
  background-color: var(--color-white);
  border: 0.0625rem solid var(--color-light-grey);
  border-radius: 0.25rem;

  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
}
.container__active .check {
  border-color: var(--color-purple);
  background-color: var(--color-purple);
}
.check svg {
  stroke: var(--color-white);
  stroke-dashoffset: 15;
  stroke-dasharray: 15;
  transition: 0.2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.container__active .check svg {
  stroke-dashoffset: 0;
}

.heading {
  grid-area: heading;
  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 500;
  color: var(--color-denim);
}
.description {
  grid-area: description;
  margin-top: 0.1875rem;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: var(--color-grey);
}
.price {
  grid-area: price;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: var(--color-purple);
}
@container (min-width:400px) {
  .label {
    padding: 0.9375rem 1.4375rem;
  }
  .check {
    margin-right: 1.5rem;
  }
  .heading {
    font-size: 1rem;
  }
  .description {
    margin-top: 0.4375rem;
    font-size: 0.875rem;
  }
  .price {
    font-size: 0.875rem;
  }
}
