.button {
  cursor: pointer;
  padding: 0.75rem 1rem;

  font-size: 0.875rem;
  line-height: 1rem;
  font-weight: 500;

  border-radius: 0.25rem;

  border: none;
  background-color: transparent;
  color: var(--color-white);
  transition: background-color 0.2s var(--transition-1);
  transition: color 0.2s var(--transition-1);
}
.button__primary {
  background-color: var(--color-denim);
}
.button__secondary {
  color: var(--color-grey);
}

.button__submit {
  background-color: var(--color-purple);
}
.button:disabled {
  cursor: default;
  background-color: var(--color-grey);
  color: var(--color-white);
}
.button__submit:focus {
  outline: 2px solid var(--color-denim);
}
@media (hover: hover) and (pointer: fine) {
  .button__primary:hover {
    background-color: #164a8a;
  }
  .button__secondary:hover {
    color: var(--color-denim);
  }
  .button__submit:hover {
    background-color: #928cff;
  }
}
