.form {
  margin-top: 22px;
}
.form--summaryBox {
  padding: 24px 16px 24px 24px;

  background-color: var(--color-very-light-grey);
  border-radius: 8px;
}

.summaryBox--plan {
  padding-bottom: 24px;

  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  grid-template-areas: 'name price' 'button price';
  place-items: center start;
  gap: 7px 0;
}

.summaryBox--plan--name {
  grid-area: name;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  color: var(--color-denim);
}
.summaryBox--plan--price {
  grid-area: price;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: var(--color-denim);
  justify-self: end;
}
.summaryBox--plan--button {
  cursor: pointer;
  grid-area: button;

  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: var(--color-grey);
  text-decoration: underline;
}

.summaryBox--addOns {
  list-style-type: none;

  border-top: 1px solid rgba(150, 153, 170, 0.243);
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.summaryBox--addOns li {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.summaryBox--addOns--name {
  color: var(--color-grey);
}
.summaryBox--addOns--price {
  color: var(--color-denim);
}
.form--totalBox {
  padding: 0 24px;
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.totalBox--description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--color-grey);
}
.totalBox--price {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: var(--color-purple);
}
@media screen and (min-width: 500px) {
  .form {
    margin-top: 40px;
  }

  .totalBox--price {
    font-size: 20px;
  }
  .summaryBox--plan--name {
    font-size: 16px;
    line-height: 18px;
  }
  .summaryBox--plan--price {
    font-size: 16px;
  }
}
