.input {
  cursor: pointer;

  -webkit-appearance: none;
  appearance: none;
  margin: 0;

  width: 38px;
  height: 20px;
  border-radius: 10px;
  background-color: var(--color-denim);

  position: relative;
}
.input::after {
  content: '';

  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--color-white);

  position: absolute;
  left: 0;
  top: 4px;
  transform: translateX(4px);
  transition: all 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.input:checked::after {
  transform: translateX(22px);
}
