.container {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: 100%;
}
.progressContainer {
  width: 100%;
  height: 10.75rem;
  padding: 2rem 0;

  background-image: url('../../assets/images/bg-sidebar-mobile.svg');
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: start;
}
.stepContainer--stepIndicator,
.stepContainer--stepName {
  display: none;
}
.formContainer {
  width: calc(100% - 1rem * 2);
  justify-self: center;
}
.formBox {
  background-color: var(--color-white);
  border-radius: 0.625rem;
  padding: 2rem 1.5rem;
  box-shadow: 0 1.5625rem 2.5rem -1.25rem rgba(0, 0, 0, 0.0951);
  transform: translateY(-4.5625rem);
  container-type: inline-size;
}
.heading,
.thankYouBox--heading {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
  color: var(--color-denim);
}
.description,
.thankYouBox--description {
  font-size: 1rem;
  line-height: 1.5625rem;
  font-weight: 400;
  color: var(--color-grey);
}
.description {
  margin-top: 0.5625rem;
}

.controlsContainer {
  position: fixed;
  bottom: 0;

  background-color: var(--color-white);
  width: 100%;
  padding: 1rem;
  box-shadow: 0 1.5625rem 2.5rem 1.25rem rgba(0, 0, 0, 0.0951);
  display: grid;
  grid-template-columns: auto 1fr auto;
}
.back {
  grid-column: 1;
}
.next,
.submit {
  grid-column: 3;
}

.thankYouBox {
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.thankYouBox svg {
  width: 3.5rem;
  aspect-ratio: 1;
}

.thankYouBox--description {
  max-width: 28.125rem;
  margin-top: 0.5625rem;
  text-align: center;
}
@media screen and (min-width: 980px) {
  .container {
    background-color: var(--color-white);
    width: 58.75rem;
    height: 37.5rem;
    padding: 1rem;

    display: grid;
    grid-template-columns: 17.125rem 1fr;
    grid-template-rows: 1fr 4.125rem;
    grid-template-areas: 'progress form' 'progress controls';
    gap: 0 6.25rem;

    border-radius: 0.9375rem;
    box-shadow: 0 1.5625rem 2.5rem -1.25rem rgba(0, 0, 0, 0.0951);
  }
  .heading,
  .thankYouBox--heading {
    font-size: 2rem;
    line-height: 2.3125rem;
  }

  .progressContainer {
    grid-area: progress;
    width: 100%;
    height: 100%;
    border-radius: 0.625rem;
    padding: 2.5rem 2rem;

    background-image: url('../../assets/images/bg-sidebar-desktop.svg');
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 2rem;
  }
  .stepContainer {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto;
    grid-template-areas: 'button indicator' 'button name';
    gap: 0 1rem;
  }
  .stepContainer button {
    grid-area: button;
  }
  .stepContainer--stepIndicator {
    display: block;
    grid-area: indicator;

    font-size: 0.75rem;
    font-weight: 400;
    line-height: 0.875rem;
    text-transform: uppercase;
    color: var(--color-light-blue);

    align-self: flex-start;
  }
  .stepContainer--stepName {
    display: block;
    grid-area: name;

    font-size: 0.875rem;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
    color: var(--color-white);

    align-self: flex-end;
  }
  .formContainer {
    width: 100%;
    grid-area: form;
    padding-right: 5.25rem;
  }
  .formBox {
    transform: unset;
    box-shadow: unset;
    padding: unset;
    padding-top: 2.5rem;
  }
  .description {
    margin-top: 0.6875rem;
  }
  .controlsContainer {
    position: static;
    padding-right: 5.25rem;
    grid-area: controls;
    box-shadow: unset;
  }

  .thankYouBox svg {
    width: 5rem;
  }
  .thankYouBox--heading {
    margin-top: 2rem;
  }
  .thankYouBox--description {
    margin-top: 0.875rem;
  }
}
